

fieldset
{
  width: 90%;
  height: fit-content;
  background: rgb(1, 28, 62);
  margin: 0 auto;
  padding: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
}
h1
{
  width: fit-content;
  padding: 0;
  margin: 0 auto;
  color: rgb(13, 115, 115);
}
#container
{
  position: relative;
  width: 90%;
  height: fit-content;
  background: linear-gradient(blue, purple);
  border-radius: 5px;
  margin: 20px auto;
  margin-top: 0px;
  padding: 20px;
  color: black;
}
#contactdetails
{
  border-radius: 5px;
  display: inline-block;
  width: 80%;
  padding: 5px;
}
#contactimg
{
  position: absolute;
  width: fit-content;
  right: 0;
  top: 0;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
}
  img
  {
    width: 146px;
    height: 150px;
    border-radius: 2px;
    border: 2px solid burlywood;
  }
  #photo
  {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
  #removepixs
  {
    position: relative;
    border-radius: 50%;
    background: burlywood;
    color: black;
    top: -148px;
    left: 160px;
  }
  #removepixs:hover
  {
    color: burlywood;
    background: black;
  }
button
{
  width: fit-content;
  margin: 10px;
  border: none;
  padding: 10px;
  border-radius: 2px;
  background: linear-gradient(white, rgb(117, 115, 115));
}
button:active
{
  background: linear-gradient(rgb(117, 115, 115), white);
}
#buttons
{
  position: absolute;
  width: fit-content;
  bottom: 0px;
  right: 0%;
}
hr
{
  display: none;
  margin: 25px 0 0 0;
}
p
{
  font-family: cursive;
  font-size: 35px;
}
span
{
  display: inline-block;
  color: red;
}
i
{
  cursor: pointer;
  color: black;
}
.input
{
  position: relative;
  width: 395px;
  height: 40px;
  padding-left: 5px;
  border: none;
  border-radius: 2px;
  top: -5px;
  font-size: x-large;
}
textarea
{
  position: relative;
  width: 70%;
  font-size: xx-large;
  border-radius: 5px;
  top: -20px;
  word-wrap: break-word;
}
a
{
  margin-left: 5px;
}
.contain
{
  /* background: green; */
}
.pedit
{
  display: inline-block;
  margin: 10px 0;
}

@media screen and (max-width: 1060px)
{
  #container
  {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(50px, auto);
    width: calc(100% - 20px);
    margin: 40px 10px;
    margin-top: 0px;
    padding: 10px 0;
    grid-template-areas:
    "img img img img img img img img"
    "img img img img img img img img"
    "dtl dtl dtl dtl dtl dtl dtl dtl"
    "dtl dtl dtl dtl dtl dtl dtl dtl"
    "dtl dtl dtl dtl dtl dtl dtl dtl"
    "dtl dtl dtl dtl dtl dtl dtl dtl"
    "dtl dtl dtl dtl dtl dtl dtl dtl"
    "  .   .   .   .   .   . can btn";
  }
  #contactdetails
  {
    display: block;
    width: 95%;
    grid-area: dtl;
    margin: 0 auto;
    padding: 0 0px;
  }
  #contactimg
  {
    display: block;
    position: unset;
    margin: 0 auto;
    width: 90%;
    grid-area: img;
    text-align: center;
  }
  p
  {
    display: block;
    font-size: 4vw;
    word-wrap: break-word;
  }
  #editsubmit
  {
    grid-area: btn;
    top: 10px;
    right: unset;
  }
  #cancel
  {
    grid-area: can;
    top: 10px;
    right: unset;
  }
  hr
  {
    display: block;
  }
}


@media screen and (max-width: 640px)
{
  p
  {
    font-size: 5vw;
  }
  .input
  {
    position: unset;
    width: 72%;
  }
  textarea
  {
    display: block;
    width:100%;
    margin: 0 auto;
    padding: 0;
  }
}